* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: grid;
    grid-template-columns: 1fr;
    padding: 30px 10%;
    background: #303841;
    color: #E3E4E5;
    align-items: center;
    justify-items: center;
    font-size: 25px;
}

header nav ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 100px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li a {
    text-decoration: none;
    color: white;
}

section {
    display: grid;
    justify-items: end;
    justify-content: center;
    width: 100%;
    padding-left: 95px;
}

.parallelogram {
    position: relative;
    width: 2700px;
    padding: 0 5%;
    margin-right: 85px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    /* цвет текста, забивки и т. п. */
}

.parallelogram::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: #D9D9D9;
    transform: skew(-45deg);

}

h1 {
    padding: 0 10%;
    color: red;
    font-size: 32px;

}

.poisk {
    position: relative;
    height: 93px;
    width: 500px;
    padding: 10px 8%;
    margin-right: 87px;
    display: grid;
    grid-template-columns: auto;

    /* цвет текста, забивки и т. п. */
}

.poisk::before {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: #EEEEEE;
    transform: skew(-45deg);
}

input {
    position: relative;
    margin: 40px;
    padding: 0 10%;
    height: 35px;
    background-color: #EEEEEE;
}

.poisk form a {
    margin: auto;
}

.card {
    position: relative;
    width: 129px;
    height: 60px;
    padding: 0 2%;
    margin-right: 150px;
    /* цвет текста, забивки и т. п. */
}

.card::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: #D72323;
    transform: skew(-45deg);
    border-radius: 9%;
}

.poisk form input {
    border: none;
    outline: none;
    width: auto;
}